<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                        <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
                    <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="devices" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['name','code','status']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(selection)]="selectedProducts" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Manage Devices</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>Image</th>
                        <th pSortableColumn="label">Name <p-sortIcon field="label"></p-sortIcon></th>
                        <th pSortableColumn="bms_id">Bms id <p-sortIcon field="bms_id"></p-sortIcon></th>
                        <th pSortableColumn="name">Type <p-sortIcon field="name"></p-sortIcon></th>
                        <th pSortableColumn="status">Status <p-sortIcon field="status"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-device>
                    <tr>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">Image</span>
                            <img [src]="'assets/images/devices/' + device.name.toLowerCase() + '.png'" [alt]="device.name" width="100" class="shadow-4" />
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">Name</span>
                            {{device.label}}
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">Bms id</span>
                            {{device.bms_id}}
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">Type</span>
                            {{device.name}}
                        </td>
                        <td style="width:14%; min-width: 10rem;"><span class="p-column-title">Status</span>
                            <span [class]="'product-badge status-' + (device.status ? device.status.toLowerCase() : '')">{{device.status}}</span>
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editDevice(device)"></button>
                                <!--button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteProduct(device)"></button-->
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="deviceDialog" [style]="{width: '450px'}" header="Device Details" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <img [src]="'assets/images/devices/' + device.name.toLowerCase() + '.png'" [alt]="device.name" width="150" class="mt-0 mx-auto mb-5 block shadow-2" *ngIf="device.name">
                <div class="field">
                    <label for="type">Device Type</label>
                    <p-dropdown 
                        [(ngModel)]="device.type_id"
                        inputId="deviceType"
                        optionValue="id"
                        optionLabel="name"
                        [options]="types"
                        placeholder="Select">
                        <!--ng-template pTemplate="selectedItem">
                            <span *ngIf="device && device.type_id" [class]="'product-badge ' + device.type_id.toString().toLowerCase()">{{device.type_id}}</span>
                        </ng-template-->
                        <ng-template pTemplate="option" let-option>
                            <span [class]="'product-badge ' + option.id.toString().toLowerCase()">{{option.name}}</span>
                        </ng-template>
                        <ng-template let-option pTemplate="item">
                            <span [class]="'product-badge ' + option.id.toString().toLowerCase()">{{option.name}}</span>
                        </ng-template>
                    </p-dropdown>
                </div>
                <div class="field">
                    <label for="name">Name</label>
                    <input type="text" pInputText id="label" [(ngModel)]="device.label" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !device.label}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !device.label">Name is required.</small>
                </div>
                <div class="field">
                    <label for="name">Bms id</label>
                    <input type="text" pInputText id="bms_id" [(ngModel)]="device.bms_id" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !device.bms_id}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !device.bms_id">Bms id is required.</small>
                </div>
                <div class="field">
                    <label for="description">Description</label>
                    <textarea id="description" pInputTextarea [(ngModel)]="device.description" required rows="3" cols="20"></textarea>
                </div>
                <!--div class="field">
                    <label for="status">Inventory Status</label>
                    <p-dropdown [(ngModel)]="device.status" inputId="inventoryStatus" optionValue="label" [options]="statuses" placeholder="Select">
                        <ng-template pTemplate="selectedItem">
                            <span *ngIf="device && device.status" [class]="'product-badge status-' + device.status.toString().toLowerCase()">{{device.status}}</span>
                        </ng-template>
                        <ng-template let-option pTemplate="item">
                            <span [class]="'product-badge status-' + option.value">{{option.label}}</span>
                        </ng-template>
                    </p-dropdown>
                </div-->
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveDevice()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteProductDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="product">Are you sure you want to delete <b>{{product.name}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProductDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteProductsDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Are you sure you want to delete selected products?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProductsDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
