    <div class="grid dashboard-grid">
        <div class="col-12">
            <div class="card mb-0">
                <div class="field">
                    <span>Device:</span>
                    <p-dropdown 
                        [(ngModel)]="device.id"
                        (onChange)="onDeviceChange($event)"
                        optionValue="id"
                        optionLabel="label"
                        [options]="devices"
                        placeholder="Select">
                        <ng-template pTemplate="selectedItem">
                            <div >
                              <div>{{ device.label}}</div>
                            </div>
                        </ng-template>
                        <ng-template let-dropdownvalues pTemplate="item">
                            <div >
                                 <div>{{dropdownvalues.label}}</div>
                            </div>
                        </ng-template>
                        <!--ng-template pTemplate="option" let-option>
                            <span [class]="'product-badge ' + option.id.toString().toLowerCase()">{{option.label}}</span>
                        </ng-template>
                        <ng-template let-option pTemplate="item">
                            <span [class]="'product-badge ' + option.id.toString().toLowerCase()">{{option.label}}</span>
                        </ng-template-->
                    </p-dropdown>
                </div>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3"> PACK total voltage</span>
                        <div class="text-900 font-medium text-3xl">{{ lastBatteryData.packTotal }} V</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-blue-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-power-off text-blue-500 text-xl"></i>
                    </div>
                </div>
                <span class="text-green-500 font-medium">{{cellCount}} </span>
                <span class="text-500"> cells</span>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Average cell voltage</span>
                        <div class="text-900 font-medium text-3xl">{{averagevoltage}} V</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-orange-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-sliders-h text-orange-500 text-xl"></i>
                    </div>
                </div>
                <span class="text-500">Average of </span>
                <span class="text-green-500 font-medium">{{cellCount}} </span>
                <span class="text-500"> cells</span>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Max cell voltage difference</span>
                        <div class="text-900 font-medium text-3xl">{{deltaVoltage}} mV</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-cyan-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-inbox text-cyan-500 text-xl"></i>
                    </div>
                </div>
                <span class="text-green-500 font-medium">{{cellCount}} </span>
                <span class="text-500">cells</span>
            </div>
        </div>
        <div class="col-12 lg:col-6 xl:col-3">
            <div class="card mb-0">
                <div class="flex justify-content-between mb-3">
                    <div>
                        <span class="block text-500 font-medium mb-3">Last update time</span>
                        <div class="text-900 font-medium text-3xl">{{lastUpdateTime}}</div>
                    </div>
                    <div class="flex align-items-center justify-content-center bg-purple-100 border-round" [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <i class="pi pi-clock text-purple-500 text-xl"></i>
                    </div>
                </div>
            </div>
        </div>
        <!-- mérő műszer alakú diagram -->
        <div class="col-12 xl:col-6">
            <div class="card mb-0">
                <!-- justify-content-between ez volt benne-->
                <div class="flex align-items-center justify-content-center mb-3">
                    <div echarts [options]="gaugeChartOptions1" class="chart" style="width: 100%;"></div>
                </div>
                <!--span class="text-green-500 font-medium">85 </span>
                <span class="text-500">responded</span-->
            </div>
        </div>
        <div class="col-12 xl:col-6">
            <div class="card mb-0">
                <!-- justify-content-between ez volt benne-->
                <div class="flex align-items-center justify-content-center mb-3">
                    <div echarts [options]="gaugeChartOptions2" class="chart" style="width: 100%;"></div>
                </div>
                <!--span class="text-green-500 font-medium">85 </span>
                <span class="text-500">responded</span-->
            </div>
        </div>
        <div class="col-12">
            <div class="card">
                <div>
                    <p-dropdown 
                        (onChange)="onDataTypeChange($event)"
                        inputId="dataSelector"
                        [options]="dataTypes"
                        [(ngModel)]="dataType"
                        placeholder="Select">
                    </p-dropdown>
                    <p-dropdown 
                    (onChange)="onCurveTypeChange($event)"
                        inputId="CurveTypeSelector"
                        [options]="curveTypes"
                        [(ngModel)]="curveType"
                        placeholder="Select">
                    </p-dropdown>
                    <!-- Range Picker-->
                    <div class="row">
                        <div class="col-3 col-md-3 col-lg-1 mb-4">
                            <span>Time from</span>
                            <p-calendar 
                                id="starttime" 
                                [(ngModel)]="dateFrom" 
                                [showTime]="true" 
                                [showSeconds]="true"
                                dateFormat="yy-mm-dd"
                                [readonlyInput]="true"
                                >
                            </p-calendar>
                        </div>
                        <div class="col-3 col-md-3 col-lg-1 mb-4">
                            <span>Time to</span>
                            <p-calendar 
                                id="endtime" 
                                [(ngModel)]="dateTo" 
                                [showTime]="true" 
                                [showSeconds]="true"
                                dateFormat="yy-mm-dd"
                                [readonlyInput]="true"
                                >
                            </p-calendar>
                        </div>
                        <div class="col-3 col-md-3 col-lg-1 mb-4">
                            <button pButton pRipple label="Get data" icon="pi pi-chart-bar" class="w-full p-3 text-xl" (click)="onGetDataButton($event)"></button>
                        </div>
                    </div>
                    <div id="brush-chart">
                        <div>
                            <apx-chart id="chart1"
                                [series]="apexChartOptions1.series"
                                [chart]="apexChartOptions1.chart"
                                [xaxis]="apexChartOptions1.xaxis"
                                [dataLabels]="apexChartOptions1.dataLabels"
                                [colors]="apexChartOptions1.colors"
                                [fill]="apexChartOptions1.fill"
                                [markers]="apexChartOptions1.markers"
                                [stroke]="apexChartOptions1.stroke"
                            ></apx-chart>
                        </div>
                        <div>
                            <apx-chart id="chart1"
                                [series]="apexChartOptions2.series"
                                [chart]="apexChartOptions2.chart"
                                [xaxis]="apexChartOptions2.xaxis"
                                [colors]="apexChartOptions2.colors"
                                [fill]="apexChartOptions2.fill"
                                [yaxis]="apexChartOptions2.yaxis"
                            ></apx-chart>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--div class="col-12">
            <div class="card">
                <div>
                    <div>
                        <div id="apexchart1"></div>
                    </div>
                    <div>
                        <div id="apexchart2"></div>
                    </div>
                </div>
            </div>
        </div-->
    </div>

