.grid.dashboard-grid {
    .col-12 {
        .card {
            margin-top: 0px; 
            margin-bottom: 0px; 
            .field {
                margin-top: 0px; 
                margin-bottom: 0px; 
                    .p-dropdown {
                        width: 90%;
                        margin-top: 0px; 
                        margin-bottom: 0px; 
                        margin-left: 20px;
                        margin-right: 0px;
                }
            };
            .row {
                display: flex;
                flex-wrap: wrap;
                margin-right: -15px;
                margin-left: -15px;
            };
            .brush-chart {
                touch-action: none;
            }
        }
    }
}