.grid.dashboard-grid {
    .col-12 {
        .card {
            margin-top: 0px; 
            margin-bottom: 0px; 
            .field {
                margin-top: 0px; 
                margin-bottom: 0px; 
                    .p-dropdown {
                        width: 90%;
                        margin-top: 0px; 
                        margin-bottom: 0px; 
                        margin-left: 20px;
                        margin-right: 0px;
                }
            }
        }
    }
}